<!--
    templateType: page
    label: Page template
    isAvailableForNewContent: true
-->


<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>{{ content.html_title }}</title>
        <meta name="description" content="{{ content.meta_description }}">

        {{ require_css(get_asset_url('../css/main.css')) }}
        {{ standard_header_includes }}
    </head>
    <body>
    {% global_partial path="./partials/header.html" %}  
        <div class="main-wrapper">
        <main>
         
          {% dnd_area "body_dnd_area" label="First Section"%}
            {% dnd_section
                padding={
                'top': '2em',
                'bottom': '2em',
                'left': '1em',
                'right': '1em'
                }, 
                max_width=1200,
                vertical_alignment='MIDDLE'
            %}
                {% dnd_module path='@hubspot/rich_text', width=6, offset=6, label="Rich Text" %}
                    {% module_attribute "html"%}
                      <h1>This is the main headline</h1>
                      <p>Use this space to tell everyone about what you have to offer.</p>
                    {% end_module_attribute %}
                {% end_dnd_module %}
                {% dnd_module path='@hubspot/linked_image', 
                  width=5, 
                  offset=0, 
                  img={
                    "src": "https://images.unsplash.com/photo-1508162252424-e8ad5ef02539?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80",
                    "alt": "Shot from above of some surfers"
                  } 
                %}
                {% end_dnd_module %}
            {% end_dnd_section %}
        {% end_dnd_area %}

        {% dnd_area "second_dnd_area" label="Second Section"%}
          {% dnd_section 
            margin={
              'top': 32,
              'bottom': 32
            },
            padding={
              'top': 10,
              'bottom': 10,
              'left': 10,
              'right': 10
            },
            max_width=1200,
            vertical_alignment='TOP'
          %}

            {% module 'Grid Showcase' path='../modules/Grid-showcase.module' %}
          {% end_dnd_section %}
        {% end_dnd_area %}

          </main> 
          </div>
      {% global_partial path="./partials/footer.html" %}   
      {{ standard_footer_includes }}
    </body>
</html>


 


