<!--
    templateType: global_partial
    label: Global partial
    isAvailableForNewContent: false
-->
<!-- Begin partial -->

<header>
    <div class="header-wrapper">
        <h1 class="header__title">
            {% module "page_template_title" path="@hubspot/text" value="Underground Surfing" label="Header Title" %}
        </h1>
        <p class="header__subtitle">
            {% module "page_template_subtitle" path="@hubspot/text" label="Header Subtitle" %}
        </p>
    </div>
</header>

<!-- End partial -->
